@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body{min-width:700px; /* suppose you want minimun width of 700px */
   width: auto !important;  /* Firefox will set width as auto */
   width:700px;
   min-height: 650px; overflow: hidden;   }

.body1{min-width:700px; /* suppose you want minimun width of 700px */
   width: auto !important;  /* Firefox will set width as auto */
   width:700px;
   min-height: 650px;
   overflow-y: scroll; }


.content {
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

/* Header */
.codrops-header {
	width: 99%;
	height: 99%;
	position: absolute;
	top: 10;
	text-align: center;
	z-index: 0;
	font-size: 1.5em;
}
.codrops-header img{    
			position: absolute;
            z-index: 0;
            height: 130px;
            width: auto;
            left: 46.2%;
            top: 12%;}
.codrops-header h1 {
	position: absolute;
	font-weight: 700;
	font-size: 4.5em;
	line-height: 1.2;
	color: #fff;
	z-index: 0;
	padding: 0;
	margin: 0;
	left: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 100%;
	top: 50%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.codrops-header h1 span {
	display: block;
	font-size: 35%;
}

.codrops-header h1 a {
	color: #eff62b;
}

.codrops-header h1 a:hover,
.codrops-header h1 a:focus {
	color: #fff;
}

.codrops-header h1 span::before,
.codrops-header h1 span::after {
	content: ' ― ';
	font-weight: 200;
}

.codrops-header h1 i {
	display: block;
	font-size: 15%;
	max-width: 40%;
	margin: 0 auto;
	line-height: 2;
	font-style: normal;
	font-weight: 400;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	font-weight: 500;
	font-size: 0.69em;
	line-height: 2.2;
	padding: 1em 0;
	position: absolute;
	z-index: 100;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.codrops-top a {
	color: #fff;
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	letter-spacing: 2px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Codrops demo links */
.codrops-demos {
	padding: 3em 0;
}

.codrops-demos a {
	font-weight: 700;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.5em 0;
	margin: 0 1.5em;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.codrops-demos a.current-demo {
	color: #333;
	border-color: #333;
}

ul.ref {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.ref li {
	padding: 1em 0;
}

/* Related demos */
.related {
	text-align: center;
	font-weight: 500;
	padding: 5em 0 4em;
}

.related > a {
	width: calc(100% - 20px);
	max-width: 340px;
	border: 1px solid black;
	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	font-weight: 400;
	font-size: 0.925em;
	padding: 1em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

@media only screen and (min-width:1921px) and (max-width:1440px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header h1
	{
		margin-top: 15%;
	}
	.codrops-header img
	{
		left:46.25%;
		height: 15%;
		width: auto;
	}
}

@media only screen and (min-width:1025px) and (max-width:1366px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header h1
	{
		margin-top: 5%;
	}
	.codrops-header img
	{
		left:46.25%;
		height: 15%;
		width: auto;
	}
}

@media only screen and (min-width:721px) and (max-width:768px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header h1
	{
		margin-top: 5%;
	}
	.codrops-header img
	{
		left:41%;
		height: 12%;
		width: auto;
	}
}

@media only screen and (min-width:900px) and (max-width:1024px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header h1
	{
		margin-top: 5%;
	}
	.codrops-header img
	{
		left:40%;
		height: 15%;
		width: auto;
	}
}

@media only screen and (min-width:769px) and (max-width:900px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header h1
	{
		margin-top: 5%;
	}
	.codrops-header img
	{
		left:38%;
		height: 15%;
		width: auto;
	}
}

@media only screen and (min-width:1025px) and (max-width:1366px) and (max-height:768px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header h1
	{
		margin-top: 2%;
	}
	.codrops-header img
	{
		top:20%;
		height: 12%;
		width: auto;
	}
}

@media only screen and (min-width:721px) and (max-width:1024px) and (max-height:768px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header h1
	{
		margin-top: 5%;
	}
	.codrops-header img
	{
		left:45%;
		height: 15%;
		width: auto;
	}
}

@media only screen and (min-width:641px) and (max-width:720px)
{
	.wrapper-header{
		top:45%;
		font-size: 15px;
	}
	.codrops-header img
	{
		left:41.75%;
		height: 10%;
		width: auto;
	}
}

@media only screen and (min-width:586px) and (max-width:640px)and (max-height:800px)
{
	.wrapper-header{
		font-size: 5px;
	}
	.codrops-header img
	{
		display: none;
	}
}

@media only screen and (min-width:481px) and (max-width:585px) and (max-height:640px)
{
	.wrapper-header{
		font-size: 5px;
	}
	.codrops-header img
	{
		display: none;
	}
}

@media only screen and (min-width:321px) and (max-width:480px) and (max-height:640px)
{
	.wrapper-header{
		font-size: 5px;
	}
	.codrops-header img
	{
		display: none;
	}
}

@media only screen and (max-width:320px)
{
	.wrapper-header{
		font-size: 5px;
	}
	.codrops-header img
	{
		display: none;
	}
}
